html {
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: calc(100vw - 100%);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.scroll-container {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  .scroll-container {
    transition: none !important;
  }
}
